<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>


<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_admin_book_path(:id=>@book.id)%> |
<%= link_to 'Back', admin_books_path %> |
<%= link_to 'Destroy',  admin_book_path(:id=>@book.id), method: :delete, data: { confirm: 'Are you sure?' } %>